PORT=3000
NODE_ENV=development

ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

WEDDING_DATE=2026-08-02T00:00:00
TIMEZONE=Europe/Minsk

VENUE_NAME=River Hall
VENUE_ADDRESS=вул. Падольная, д. 23, г. Гродно
YANDEX_MAP_URL=https://yandex.ru/map-widget/v1/?ll=23.833062,53.671368&z=15&pt=23.833062,53.671368,pm2rdm
YANDEX_DIRECT_URL=https://yandex.com/maps/-/CPqGnRmu

FORMSPREE_ENDPOINT=https://formspree.io/f/xykdrgnb
